@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap')
$baseWidth: 700px

*
    font-family: 'Quicksand', sans-serif
    padding: 0
    margin: 0
html
    height: 100%
    font-size: 16px
    body
        position: relative
        height: 100%
        overflow: hidden
        #_382jfewasa
            height: 100%
._2324
    transition: all .15s ease-in-out !important
    &:hover
        background: #cccbce !important
._5000
    color: #ffffff !important
._4000,._9100
    >svg
        color: #ffffff !important
._7500
    padding: 4px !important
    >div
        border: none !important
        width: 48px !important
        height: 48px !important
._8200
    svg
        color: #2e89ff !important
    ._9600
        color: #2e89ff !important 
._1280
    background-color: #e8f0fe 
._03w321
    &:hover
        backgroundColor: #65a6e0 !important
        &:active
            backgroundColor: #186cb8
._u4w8ew
    ._4000
        border: none !important

@media screen and (max-width: 960px)
    ._urjefdas3 
        overflow: auto !important
    ._wa0eujds
        height: auto !important
        margin-bottom: 20px
        flex-direction: column !important
    ._2700
        width: 35rem !important
        text-align: center  
        ._3600
            width: 50% !important
            margin-left: auto
            margin-right: auto
        ._4500
            flex-direction: column !important
            justify-content: center !important
            align-items: center !important
    ._6300
        height: auto !important
    ._1350
        flex-direction: column !important
    ._6400
        height: auto !important
    ._1600
        height: 100% !important
    ._2400
        width: 448px !important
    ._3200
        width: calc( 448px + 24px ) !important
    ._2750
        flex-direction: column !important
    ._9340
        padding-top: 16px
        padding-left: 0 !important
        height: 100px !important
        width: 100% !important
        overflow: auto
    ._3042
        width: 100% !important
// @media all and (display-mode: fullscreen)
//     ._8700
//         width: calc( 100% - 13rem ) !important
@media screen and (max-width: 800px)
    ._5600
        width: calc( 100% - 2rem )
@for $i from 2 through 15
    @media screen and (min-width: unquote("calc(700px + #{$i * 50}px)"))
        ._5600
            width: calc( 100% - #{$i}rem )
         
.S3RDod
    opacity: 0
    animation: .5s ease-in fadeIn 0s forwards
._3209uwe
    height: 48px !important
    width: 48px !important
    transition: all .15s linear
    &:active
        &:hover
            background-color: #f2f0f5
.-q3wiqqw
    transition: all .15s linear
    &:hover
        background-color: #f2f0f5

.shTJQe 
    animation-duration: 250ms
    animation-name: showContent
    animation-timing-function: cubic-bezier(0.0,0.0,0.2,1)
@keyframes showContent
    0%
        opacity: 0
        transform: translateY(200px)
    100%
        opacity: 1
        transform: translateY(0)
._984i9we     
    width: 330px !important
    overflow: visible !important
    >div
        &:nth-of-type(2)
            top: -70px !important
            right: -60px !important
        &:nth-of-type(3)
            top: -70px !important
            left: -60px !important
            opacity: 0
            animation: 1s ease-in fadeIn 0s forwards
._urjefdas3 
    &::-webkit-scrollbar
        width: 9px
    &::-webkit-scrollbar-track
    &::-webkit-scrollbar-thumb
        border-radius: 80px !important
        background-color: #dadce0
    // &::-webkit-scrollbar-thumb:hover
._w0eiwsdt2
    animation: fadeIn .075s step-end,fadeIn .225s ease .075s
.dsdsw
    &:hover
        color: #2e89ff
.p21yBf
    animation: volumeLevelJiggle 600ms steps(9,jump-none) 0s infinite
@keyframes volumeLevelJiggle 
    0%
        transform: scaleY(0.8)
    50%
        transform: scaleY(1)
    100%
        transform: scaleY(0.8)
.iitYmd
    width: 4px
    background-color: #fff  
._93i2we
    animation: spinner-container-rotate 1568ms linear infinite
@keyframes spinner-container-zWfAib
    100%
        transform: rotate(360deg)
._9wie9dsqw
    >label
        >span
            >svg
                width: 48px !important
                height: 48px !important
.zWfAib
    animation: fadeIn .075s step-end,fadeIn .225s ease .075s 
    transition: top .5s cubic-bezier(0.4,0,0.2,1),left .5s cubic-bezier(0.4,0,0.2,1),right .5s cubic-bezier(0.4,0,0.2,1),bottom .5s cubic-bezier(0.4,0,0.2,1),width .5s cubic-bezier(0.4,0,0.2,1),height .5s cubic-bezier(0.4,0,0.2,1),background .5s cubic-bezier(0.4,0,0.2,1)
//


@import url('https://fonts.googleapis.com/css?family=Fira+Sans')
/*Variables*/
$background_color: #353b48
$font: "Fira Sans", sans-serif
$white: #f5f6fa
$black: #0C0E10
$gray: #202425
$blue: #446182
//Mixins
=smallscreens
    @media (max-width: 770px)
        @content
//Extends
%Ycenter
    position: absolute
    top: 50%
    transform: translateY(-50%)
//Main Layout Styles
*
    box-sizing: border-box


.background
    color: #fff
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: linear-gradient($black, $blue)
    .ground
        position: absolute
        bottom: 0
        width: 100%
        height: 25vh
        background: $black
        +smallscreens
            height: 0vh

.container
    position: relative
    margin: 0 auto
    width: 85%
    height: 100vh
    padding-bottom: 25vh
    display: flex
    flex-direction: row
    justify-content: space-around
    +smallscreens
        flex-direction: column
        padding-bottom: 0vh
.left-section, .right-section
    position: relative
//Left Section Styles
.left-section
    width: 40%
    +smallscreens
        width: 100%
        height: 40%
        position: absolute
        top: 0
    .inner-content
        @extend %Ycenter
        +smallscreens
            position: relative
            padding: 1rem 0
.heading
    color: #fff 
    text-align: center
    font-size: 9em
    line-height: 1.3em
    margin: 2rem 0 0.5rem 0
    padding: 0
    text-shadow: 0 0 1rem #fefefe
    +smallscreens
        font-size: 7em
        line-height: 1.15
        margin: 0
.subheading
    color: #fff 
    text-align: center 
    max-width: 480px
    font-size: 1.5em
    line-height: 1.15em
    padding: 0 1rem 
    margin: 0 auto
    +smallscreens
        font-size: 1.3em
        line-height: 1.15
        max-width: 100%
//Right Section Styles
.right-section
    width: 50%
    +smallscreens
        width: 100%
        height: 60%
        position: absolute
        bottom: 0
.svgimg
    position: absolute
    bottom: 0
    padding-top: 10vh
    padding-left: 1vh
    max-width: 100%
    max-height: 100%
    +smallscreens
        padding: 0
    .bench-legs
        fill: $black
    .top-bench, .bottom-bench
        stroke: $black 
        stroke-width: 1px
        fill: #5B3E2B
    .bottom-bench path:nth-child(1)
        fill: darken(#5B3E2B,7%)
    .lamp-details
        fill: $gray
    .lamp-accent
        fill: lighten($gray, 5%)
    .lamp-bottom
        fill: linear-gradient($gray, $black)
    .lamp-light
        fill: #EFEFEF

@keyframes glow
    0%
        text-shadow: 0 0 1rem #fefefe
    50% 
        text-shadow: 0 0 1.85rem #ededed
    100%
        text-shadow: 0 0 1rem #fefefe
@keyframes fadeIn
    0%
        opacity: 0
    100%
        opacity: 1
._0rujefda, ._ewiorjweureowew
    &::-webkit-scrollbar
        width: 9px
    &::-webkit-scrollbar-track
    &::-webkit-scrollbar-thumb
        border-radius: 80px !important
        background-color: #dadce0
._9w9wejdmw
    right: 16px
    bottom: 16px