@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap')
*
    font-family: 'Quicksand', sans-serif
    padding: 0
    margin: 0
html
    height: 100%
    body
        position: relative
        height: 100%
        #_382jfewasa
            height: 100%
._2324
    transition: all .15s ease-in-out !important
    &:hover
        background: #cccbce !important
@media screen and (max-width: 960px)
    ._2700
        width: 100% !important
        text-align: center  
        ._3600
            width: 50% !important
            margin-left: auto
            margin-right: auto
        ._4500
            flex-direction: column !important
            justify-content: center !important
            align-items: center !important
    ._6300
        height: auto !important