@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap')
*
    font-family: 'Quicksand', sans-serif
    padding: 0
    margin: 0
html
    height: 100%
    font-size: 16px
    body
        position: relative
        height: 100%
        #_382jfewasa
            height: 100%
._2324
    transition: all .15s ease-in-out !important
    &:hover
        background: #cccbce !important
._5000
    color: #ffffff !important
._4000,._9100
    >svg
        color: #ffffff !important
._7500
    padding: 4px !important
    >div
        border: none !important
        width: 48px !important
        height: 48px !important
 
@media screen and (max-width: 960px)
    ._2700
        width: 100% !important
        text-align: center  
        ._3600
            width: 50% !important
            margin-left: auto
            margin-right: auto
        ._4500
            flex-direction: column !important
            justify-content: center !important
            align-items: center !important
    ._6300
        height: auto !important
    ._1350
        flex-direction: column !important
    ._6400
        height: auto !important
    ._1600
        height: 100% !important
    ._2400
        width: 448px !important
    ._3200
        width: calc( 448px + 24px ) !important